@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Montserrat&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif !important;
}

html,
body {
  color: #3b3a3a;
}

input {
  height: 45px;
  width: 100%;
  border: 1px solid #ccc;
  padding-left: 20px;
  border-radius: 5px;
}

input:focus {
  outline: none;
  border: 1px solid #353535;
}

button {
  height: 45px !important;
  outline: none;
  box-shadow: none !important;
}

label {
  font-size: medium !important;
  margin: 0 !important;
  padding: 0 !important;
  color: #353535 !important;
}

a {
  text-decoration: none !important;
  color: var(--primary) !important;
}

h1 {
  margin-bottom: 0.5rem;
}

span {
  font-size: 15px;
}

.ant-table-row {
  height: 60px !important; /* Altura da linha */
}
